* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV */

#profil_logo {
    margin: 0 10px;
}

.connection_button {
    margin: 0 10px;
    background-color: #03543f;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.connection_button:hover {
    background: #023526;
}

#logo_admin {
    margin-left: 10px;
}

/* HOME */

#home {
    height: 90vh;
    background: url('../images/background.jpg') center no-repeat fixed;
    background-size: 100vw 120vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#home img {
    height: 25%;
    margin: 2% 0;
}

#home p {
    font-size: 1.5em;
    font-weight: 500;
}

#home a {
    transition: all .5s ease;
    color: #166534;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    background-color : #fff;
    padding: 10px;
    margin: 2%;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 8%;
}

#home a:hover {
    background: #03543f;
    color: white;
}

#recherche {
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    width: 700px;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#recherche h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 5%;
}

#recherche_button {
    background: #03543f;
    margin-top: 2%;
    padding: 1% 2%;
    width: 30%;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#recherche_button:hover {
    background: #023526;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 8px 10px;
    background-color: white;
    width: 80%;
}

.input-container img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
}

.input-container input:focus {
    outline: none;
    box-shadow: none;
}

#tutos {
    margin-top: 22%;
    text-align: center;
}

#tutos h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1%;
}

#tutos p {
    font-size: 0.9em;
}

#videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2% auto;
}

#videos img {
    height: 330px;
}

#tutos a {
    background: #03543f;
    padding: 0.5% 3%;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

#tutos a:hover {
    background: #023526;
}

#bienvenue {
    text-align: center;
    margin-top: 5%;
}
.question {
    margin: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-block: #03543f;
  }
  
  /* Style for question titles */
  .question h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px;
  }
  

  .question .date {
    font-size: 0.8em;
    color: #999;
    margin-top: 10px;
  }
  .question a{
    color: #3cab45;
    margin: 10px
  }

  .container-forum {
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px;
    max-width: 600px; 
    margin: 0 auto; 
  }
  

  label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    box-sizing: border-box; 
  }
  
  textarea {
    min-height: 150px; 
  }
    button[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    }
  
  button[type="submit"]:hover {
    background-color: #45A049; 
  }
  

  .container-forum h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container-forum h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #4CAF50; 
    margin: 0 auto;
  }

#bienvenue h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1%;
}

#bienvenue p {
    font-size: 0.9em;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 2% auto;
}

.left img {
    width: 45%;
}

.left .text {
    margin-left: 2%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.right {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 2% auto;
}

.right img {
    width: 45%;
}

.right .text {
    margin-right: 2%;
}

@media  screen and (max-width: 799px) {
    #home {
        height: 65vh;
        background-size: 250vw 100vh;
    }
    #home img {
        width: 60%;
        height: auto;
    }
    #home a {
        font-size: 1em;
    }
    #recherche {
        top: 65vh;
        width: 90%;
    }
    #tutos {
        margin-top: 45%;
    }
    #videos {
        flex-direction: column;
        width: 85%;
    }
    #videos img {
        height: auto;
        margin: 3% 0;
    }
    #tutos a {
        padding: 1.5% 7%;
    }
    #bienvenue {
        margin-top: 10%;
    }
    .left {
        flex-direction: column-reverse;
        width: 85%;
        margin: 8% auto;
    }
    .left img {
        width: 100%;
    }
    .left .text {
        margin: 3% 0;
    }
    .right {
        flex-direction: column-reverse;
        width: 85%;
        margin: 8% auto;
    }
    .right img {
        width: 100%;
    }
    .right .text {
        margin: 3% 0;
    }
}

/* LISTE JARDINS */

#banniere {
    background: url('../images/img1.jpg');
    background-size: 110vw auto;
    background-position: -50px;
    height: 50vh;
}

#banniere h2 {
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 9%;
}

#listeJardin h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding-top: 2%;
}



/* CONTACT */

#contact {
    height: 90vh;
    background: url('../images/img2.jpg') center no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 2%;
    border-radius: 2%;
}

#contact form h1 {
    text-align: center;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.02em;
}

#contact form textarea {
    width: 25vw;
}

/* CONNEXION */

#connexion {
    background: url('../images/background_connect.jpg');
    height: 82.7vh;
    opacity: 0.85;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: fit-content;
    width: 35vw;
    background: white;
    padding: 1.5%;
    border-radius: 10px;
}

.login-container h2 {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    text-align: center;
}

.submit input{
    background-color: #03543f;
    color: white;
    padding: 1.5%;
    margin-top: 5%;
    width: 100%;
    border-radius: 5px;
}

/* PROFIL */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(214, 214, 214);
    height: 90vh;
}

#profil_layout {
    display: flex;
    justify-content: space-between;
}

#pp_layout {
    padding: 2%;
    height: 16em;
    width: 17em;
    background: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#pp_layout a:hover {
    background: rgb(236, 236, 236);
    padding: 2% 5%;
    border-radius: 5px;
    border: dashed 2px rgb(206, 206, 206);
}

#pp_form img {
    width: 20em;
    clip-path: circle();
    margin-bottom: 10%;
}

#infos_layout {
    background: white;
    margin-left: 2%;
    border-radius: 5px;
    padding: 2%;
    width: 40em;
    height: 16em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#infos_layout h2 {
    font-weight: 600;
    margin-bottom: 3%;
}

#infos_layout a {
    background: #03543f;
    border-radius: 5px;
    padding: 1.5% 5%;
    color: white;
}

#infos_layout a:hover {
    background: #023526;
}

#infos_email {
    margin-bottom: 6%;
}

.infos {
    text-align: left;
    display: flex;
    padding: 1.5% 0;
    border-bottom: solid 1px #c2c2c2;
}

.infos h3 {
    width: 30%;
    font-weight: 600;
}

.infos p {
    margin: 0 0.8%;
}

#partage_jardin {
    background: white;
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0 2% 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#partage_jardin h3 {
    font-weight: 600;
}

#partage_jardin p {
    margin: 3% 0;
}

#partage_jardin a {
    background: #03543f;
    padding: 1% 5%;
    border-radius: 5px;
    color: white;
}

#reserv {
    background: white;
    border-radius: 5px;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* ADMIN */

.admin {
    height: 85vh;
    background: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backoffice {
    background: white;
}

#backoffice_gestion {
    width: 1090px;
    margin: 0 auto;
    padding-bottom: 1%;
}

.gestion {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.gestion_user {
    background: white;
    margin: 0 0.5%;
    padding: 2% 0;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

.gestion_user img{
    width: 300px;
    height: auto;
    margin: 0 7% 5% 7%;;
    border: solid 1px #c0c0c0;
    border-radius: 8px;
}

.gestion_button {
    background: #03543f;
    margin: 0 auto;
    color: white;
    padding: 2%;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.gestion_button a {
    background: transparent;
}

.gestion_button:hover {
    background: #023526;
}

/* MENTIONS */

#mentions {
    max-width: 1090px;
    margin: 0 auto;
    margin-bottom: 2%;
}

#mentions img {
    margin: 2% auto;
    height: 7em;
}

#mentions h2 {
    text-align: center;
    margin: 2% 0;
    font-size: 3em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

#mentions p {
    font-family: "Manrope", sans-serif;
}

#mentions .gras {
    font-weight: 600;
}

/* FOOTER */

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 15vh;
    background: #80a99e;
    padding: 0 15%;
    color: white;
}

.group h4 {
    font-weight: 800;
}

.group a {
    display: block;
    font-size: 0.9em;
}

.group a:hover {
    text-decoration: underline;
}

#footer {
    height: 8vh;
    background: #03543f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: white;
}

#footer a {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#footer a:hover {
    text-decoration: underline;
}

@media  screen and (max-width: 799px){
    #links {
        padding: 0 5%;
    }
}
