* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV */

#profil_logo {
    margin: 0 10px;
}

.connection_button {
    margin: 0 10px;
    background-color: #03543f;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.connection_button:hover {
    background: #023526;
}

#logo_admin {
    margin-left: 10px;
}

/* HOME */

#home {
    height: 70vh;
    background: url('../images/background.jpg') center no-repeat fixed;
    background-size: 100vw 120vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home h1 {
    font-size: 4.5em;
    font-family: "Archivo Black", sans-serif;
}

#home p {
    font-size: 1.5em;
    font-weight: 500;
}

#home a {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    margin: 2%;
    outline: none;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

#home a:hover {
    color: #166534;
    background-color: #fff;
}



/* LISTE JARDINS */

#controls-carousel {
    z-index: -1000;
}

#listeJardin h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}



/* CONTACT */

#contact {
    height: 92vh;
}

#contact form {
    padding-top: 12%;
}

#contact form h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}

@media screen and (max-width:780px){
    #contact form {
        padding-top: 28%;
    }
}

/* FOOTER */

footer {
    height: 8vh;
    background: #03543f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: white;
}

footer a {
    margin-left: 1%;
}

footer a:hover {
    text-decoration: underline;
}