* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV */

#profil_logo {
    margin: 0 10px;
}

.connection_button {
    margin: 0 10px;
    background-color: #03543f;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
}

.connection_button:hover {
    background: #023526;
}

#logo_admin {
    margin-left: 10px;
}

/* HOME */

#home {
    height: 70vh;
    background: url('../images/background.jpg') center no-repeat fixed;
    background-size: 100vw 120vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home h1 {
    font-size: 4.5em;
    font-family: "Archivo Black", sans-serif;
}

#home p {
    font-size: 1.5em;
    font-weight: 500;
}

#home a {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    margin: 2%;
    outline: none;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

#home a:hover {
    color: #166534;
    background-color: #fff;
}


/* LISTE JARDINS */

#banniere {
    background: url('../images/img1.jpg');
    background-size: 110vw auto;
    background-position: -50px;
    height: 50vh;
}

#banniere h2 {
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 9%;
}

#listeJardin h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding-top: 2%;
}



/* CONTACT */

#contact {
    height: 82.7vh;
    background: url('../images/img2.jpg') center no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 2%;
    border-radius: 2%;
}

#contact form h1 {
    text-align: center;
    font-weight: 400;
    font-family: "Jomhuria", serif;
    font-size: 3em;
    letter-spacing: 0.02em;
}

#contact form textarea {
    width: 25vw;
}

/* CONNEXION */

#connexion {
    background: url('../images/background_connect.jpg');
    height: 82.7vh;
    opacity: 0.85;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: fit-content;
    width: 35vw;
    background: white;
    padding: 1.5%;
    border-radius: 10px;
}

.login-container h2 {
    font-weight: 400;
    font-family: "Jomhuria", serif;
    font-size: 3em;
    text-align: center;
}

.submit input{
    background-color: #03543f;
    color: white;
    padding: 1.5%;
    margin-top: 5%;
    width: 100%;
    border-radius: 5px;
}

/* ADMIN */

.admin {
    height: 85vh;
    background: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backoffice {
    background: white;
}

#backoffice_gestion {
    width: 1090px;
    margin: 0 auto;
    padding-bottom: 1%;
}

.gestion {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.gestion_user {
    background: white;
    margin: 0 0.5%;
    padding: 2% 0;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

.gestion_user img{
    width: 300px;
    height: auto;
    margin: 0 7% 5% 7%;;
    border: solid 1px #c0c0c0;
    border-radius: 8px;
}

.gestion_button {
    background: #03543f;
    margin: 0 auto;
    color: white;
    padding: 2%;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.gestion_button a {
    background: transparent;
}

.gestion_button:hover {
    background: #023526;
}


/* FOOTER */

footer {
    height: 8vh;
    background: #03543f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: white;
}

footer a {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

footer a:hover {
    text-decoration: underline;
}